.d-flex {
    display: flex;
}

.d-justify-content-end {
    justify-content: flex-end;
}

.d-justify-content-center {
    justify-content: center;
}

.d-justify-content-space-evenly {
    justify-content: space-evenly;
}

.d-justify-content-space-between {
    justify-content: space-between;
}

.d-align-content-center {
    align-content: center;
}

.d-align-items-center {
    align-items: center;
}

.d-flex-1 {
    flex: 1;
}
