

@font-face {
  font-family: "PingFangSC-Regular";
  font-weight: normal;
  font-stretch: normal;
  src: url('../../resources/fonts/PingFang-SC-Regular.ttf') format('truetype');
}

.theme-font-one {
  font-family: "PingFangSC-Regular";
  font: caption;
  font-weight: normal;
  font-stretch: normal;
}
